:root{
  --bg:#0B0C0D;
  --accent:#FFC35B;
  --accent-dark:#FF8C00;
  --muted:#9aa0a6;
  --text:#E6EEF3;
  --maxw:1200px;
  --radius:8px;
  font-family: 'Montserrat', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

*{box-sizing:border-box}
html,body{height:100%}
body{margin:0